@model Author
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Author Edit</h1>
        </div>
        <div class="col-md-8">
            <form method="post" asp-action="Edit">
                <div class="form-group">
                    <label asp-for="@Model.Fullname">FullName</label>
                    <input asp-for="@Model.Fullname" class="form-control" placeholder="Fullname">
                    <span asp-validation-for="Fullname"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial");
}